

body {
	background-image: url("http://www.portoalegre.travel/upload/b/120/1206624_tech-wallpaper-4k.jpg");
	padding: 0px;
	margin: 0px;
}

.div1 {
	position: relative;
	width: 500px;
	margin: 0 auto;
	height: 500px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: #111;
}

.h1 {
	text-align: center;
	font-family:  sans-serif;
	color: white;	
}

.text1 {
    border-left: 6px solid green;
    background-color: lightgrey;
    font-size: 40px;
}
.text2 {
    border-left: 6px solid green;
    background-color: lightgrey;
    font-size: 40px;
}
